*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild


ok just reply "no" or tell me you dont want me to hit you up. cause im now wiser and older and quite bored of you not talking to me
310-613-0880
